// Colors
$fpmf-color-white: #fff;
$fpmf-color-black: #000;

$fpmf-color-lightest: #f6f6f6;
$fpmf-color-lighter: #f1f1f1;
$fpmf-color-light: #b4b9be;
$fpmf-color-medium: #82878c;
$fpmf-color-dark: #32373c;
$fpmf-color-darker: #23282d;
$fpmf-color-darkest: #191e23;

$fpmf-color-blue: #0073aa;
$fpmf-color-blue-lighter: #00a0d2;
$fpmf-color-blue-darker: #0a4b78;

$fpmf-color-red: #dc3232;
$fpmf-color-orange: #f56e28;
$fpmf-color-yellow: #ffb900;
$fpmf-color-green: #46b450;
$fpmf-color-purple: #826eb4;

$fpmf-color-border: #ccd0d4;
$fpmf-color-border-darker: #7e8993;


// Fonts
$fpmf-font-family-monospace: Consolas, Monaco, monospace;

